@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 titl-home">Benvingut a ACME-ROOMS</h1>



    <!--PROVES AMB TRANSICIÓ
    <div class="c1-box">
        <div class="c1-img">
            <div class="c1-txt">glitch</div>
        </div>
    </div>
    -->

    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>