@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/indexPageS.css" />
</head>

<div class="text-center">
    <h1 class="display-4 titl-home">Benvingut a ACME-ROOMS</h1>


    <div class="row justify-content-center table-responsive m-5 p-5 container-profile">
        <div class="col-4 prf-img">
            <div class="col prf-img-cnt">imatge perfil</div>
        </div>
        <div class="col prf-info">
            aqui dades
        </div>
    </div>

    <!--PROVES AMB TRANSICIÓ-->
    <!--
    <div class="c1-box">
        <div class="c1-img">
            <div class="c1-txt">glitch</div>
        </div>
    </div>
    -->
    

    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>