<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ACME-ROOMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_layoutPag.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ACME_APP_WEB.styles.css" asp-append-version="true" />
    <link href="https://kit-pro.fontawesome.com/releases/v6.1.1/css/pro.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container">
                    <!--aixo podria ser un botó, que sera més elegant-->
                <a class="navbar-brand nav-title" asp-area="" asp-page="/Index"><i class="fa-duotone fa-house-blank"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--
                            <li class="nav-item">
                                <a class="nav-link nav-txt-collapse " asp-area="" asp-page="/Index">Home</a>
                            </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link nav-txt-collapse" asp-area="" asp-page="/Privacy">Privacitat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-txt-collapse" asp-area="" asp-page="/Sales"> Sales</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted text-center">
        <div class="container foot-txt">
            &copy; 2023 - ACME-ROOMS
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>