    /*--HOME--*/    

    .titl-home {
        font-family: Rubik; 
        font-weight: 600;
        color: #1A1A41;
        letter-spacing: .01em;
        word-spacing:0.05em;
        text-transform: uppercase;
    }

    /*--PROFILE--*/ 

    .container-profile {
        height: 25rem;
        background-color: #F2F4FB;
        border-radius: 2rem;
        box-shadow: rgb(0 0 0 / 8%) 0.81px 2.4px 2.4px 3.2px;
    }

    .prf-img-cnt {
        width: 100%;
        height: 100%;
        color: #1A1A41;
        border-radius: 50px;
        outline: 1px solid #1A1A41;
        outline-offset: -20px;
        /*--AIXO HAURIA DE AGAFAR ALGUNA VARIABLE DE BBDD, {{imageUser}}--*/
        background-image: linear-gradient(black, black), url('https://images.unsplash.com/photo-1688407508654-c6d7ef11bcbc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80');
        background-size: cover;
        background-blend-mode: saturation;
        box-shadow: rgb(0 0 0 / 23%) 0.81px 2.4px 2.4px 3.2px;
    }

    .prf-info {
        overflow:hidden;
    }

    .prf-info-titl {
        font-size: 5.2rem;
        font-family: Rubik;
        font-weight: 600;
        color: #1A1A41;
        letter-spacing: .01em;
        word-spacing: 0.05em;
        line-height:normal;
        text-transform: uppercase;
        transform: translate(0px,1.2em);
        transition: 0.8s ease-in all;
    }

    .container-profile:hover .prf-info-titl{
        transform: translate(0px,1em);
        font-size:3.7rem;
    }

    .prf-info-all {
        width: 100%;
        height: 80%;
        font-size: 1.2rem;
        transform: translate(0px,14em);
        transition: 1.2s ease-in all;
    }

    .container-profile:hover .prf-info-all {
        transform: translate(0px,2.5em);
        transition-delay: 0.3s;
    }


