    .titl-home {
        font-family: Rubik; 
        font-weight: 600;
        color: #1A1A41;
        letter-spacing: .01em;
        word-spacing:0.05em;
        text-transform: uppercase;
    }

    .container-profile {
        height: 25em;
        background-color: #F2F4FB;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.25) 2.4px 2.4px 3.2px;
    }

    /*--PROFILE--*/ 

    .prf-img{
        padding-right:5rem;
    }

    .prf-img-cnt {
        width: 100%;
        height: 100%;
        color: #1A1A41;
        font-weight:900;
    }

    .prf-info {
        background-color: coral;
    }
